<form id="comment-form" action="/comment" method="POST">
    <div class="form-group">
        <label for="comment">Add a Comment:</label>
        <textarea id="comment" name="comment" required></textarea>
    </div>
    <button type="submit">Submit</button>
</form>