{{#if isAuthenticated}}
  <form id="comment-form">
    <div class="form-group">
      <label for="comment">Leave a Comment:</label>
      <textarea id="comment" name="comment" required></textarea>
    </div>
    <button type="submit">Submit Comment</button>
  </form>
{{else}}
  <p><a href="/login">Log in</a> to leave a comment.</p>
{{/if}}