<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Tech Blog</title>
    <!-- Include your CSS stylesheets here -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                {{#if isAuthenticated}}
                    <li><a href="/logout">Logout</a></li>
                {{else}}
                    <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        {{{body}}} <!-- This is where individual page content will be inserted -->
    </main>

    <!-- Footer -->
    <footer>
        &copy; 2023 MVC Tech Blog
    </footer>

    <!-- Include JavaScript -->
    {{#if logged_in}}
        <!-- Include logout.js if the user is logged in -->
        <script src="/public/js/logout.js"></script>
    {{else}}
        <!-- Include login.js if the user is not logged in -->
        <script src="/js/login.js"></script>
    {{/if}}
    <script src="/js/newBlogPost.js"></script>
    <script src="/js/newComment.js"></script>
    <script src="/js/updateBlogPost.js"></script>
    <script src="/js/deleteBlogPost.js"></script>
</body>
</html>
