<div class="container">
  <h2 align="center">Home</h2>
  <p align="center">Welcome to the MVC Tech Blog! Feel free to add a new post below or scroll to take a look at what our other users are talking about!</p>
{{> postForm}}
{{#each posts}}
{{> postDetails}}
{{> commentList}}
  </div>
  {{> commentForm}}
{{/each}}