<div class="container">
    {{> postDetails}} <!-- Include post details partial -->
    {{> commentForm}} <!-- Include comment form partial -->
    {{> commentList}} <!-- Include comment list partial -->
</div>